---
title: bech Smartly -  seekh kar bech, smartly bech.
---
<header>
  <div class="white-back">
    <span class="tagline">seekh kar <b>bech,</b> smartly <b>bech.</b></span>

    <div class="logo-container">
      <%= image_tag 'logo.png', :class => 'display-logo' %>
    </div>
    <hr class="green-line">
    <br>
    <p class="grid-70 push-15 title">
      A workshop series on “How to become a better service provider” for existing and budding providers like Travel agents, Real Estate agents, Insurance agents etc.
    </p>
    <p class="grid-70 push-15 bold">
      Broken down into 5 sessions, this series aims to empower today’s service providers. A service provider today, needs better understanding about their customers to serve them better, thus leading to a professional growth.
        <br><br>
      <mark>The first introductory session is absolutely FREE of cost</mark>, so that you can get a good idea about the entire series. Do not hesitate to register!<br>
    </p>
    <div class="clearfix"></div>
    <br>
    <h2 class="content-center grid-100"><span class="underline">Kindly scroll below to know more</span> &nbsp;&nbsp;&nbsp;&#8595;</h2>
    <br>
  </div>
</header>
